@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
/* @import "https://use.fontawesome.com/releases/v5.3.1/css/all.css"; */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

@font-face {
  font-family: 'impacttest';
  src: url(../font/impact.eot) format('eot');
  src: url(../font/impact.ttf) format('ttf');
  src: url(../font/impact.eot);
  src: url(../font/impact.ttf)
}
body {
  min-width: 100%;
}